<script src="https://giscus.app/client.js"
        data-repo="Eotel/blogs"
        data-repo-id="R_kgDOSPipgA"
        data-category="Announcements"
        data-category-id="DIC_kwDOSPipgM4C9TwZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ja"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
