{{- /* Pagefind Component UI: <pagefind-config> + <pagefind-modal> outlet
       + Japanese translations. The CSS/JS bundles are loaded in
       layouts/partials/extend_head.html. The visible trigger lives in
       header.html as the last <li> of #menu. */ -}}
{{- $baseURLPath := (urls.Parse site.BaseURL).Path }}
{{- if not (hasSuffix $baseURLPath "/") }}{{ $baseURLPath = printf "%s/" $baseURLPath }}{{ end }}

<pagefind-config
  base-url="{{ $baseURLPath }}"
  bundle-path="{{ "pagefind/" | relURL }}"
  excerpt-length="30">
</pagefind-config>

<pagefind-modal reset-on-close></pagefind-modal>

<!-- Translation init script temporarily removed while debugging modal
     functionality. configureInstance() call appears to have broken the
     instance setup. Will re-add once a non-destructive API is found. -->
